<ion-view class="dashboard">
	<ion-nav-bar class="bar-light" align-title="center">
		<ion-nav-buttons side="left">
			<a class="button button-icon button-compass button-clear ion-ios-alarm-outline" nav-direction="back" ui-sref="alarms"></a>
		</ion-nav-buttons>
		<ion-nav-title><img ng-src="{{logo}}"></ion-nav-title>
		<ion-nav-buttons side="right">
			<a class="button button-icon button-compass button-clear ion-monitor" nav-direction="forward" ui-sref="nodes"></a>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-header-bar class="bar bar-header bar-subheader">
		<h3 class="title compass" ng-click="openServer()">{{serverName}}</h3>
	</ion-header-bar>
	<ion-content padding="false" scroll="true" class="has-header">
		<ion-refresher pulling-text="Pull to Refresh..." on-refresh="refreshData()"></ion-refresher>
		<ion-slide-box on-slide-changed="refreshSlide(index)" delegate-handle="donut-slide-box" ng-if="!landscape">
			<ion-slide class="outages">
				<i id="outage-arrow" class="icon ion-chevron-right right-arrow compass" ng-click="goToSlide(1)" ng-class="donutClass('outages')"></i>
				<h3 ng-if="e.hasError('outage-chart')" class="title error">Error: Unable to retrieve outages.</h3>
				<div id="outages-portrait-container" ng-class="donutClass('outages')">
					<div id="outages-portrait" ng-click="modals.outages()"></div>
				</div>
			</ion-slide>
			<ion-slide class="alarms">
				<i id="alarm-arrow" class="icon ion-chevron-left left-arrow compass" ng-click="goToSlide(0)" ng-class="donutClass('alarms')"></i>
				<h3 ng-if="e.hasError('alarm-chart')" class="title error">Error: Unable to retrieve alarm data.</h3>
				<div id="alarms-portrait-container" ng-class="donutClass('alarms')">
					<div id="alarms-portrait" ui-sref="alarms" nav-direction="back"></div>
				</div>
			</ion-slide>
		</ion-slide-box>
		<div class="row" ng-if="landscape">
			<div class="outages col col-50">
				<h3 ng-if="e.hasError('outage-chart')" class="title error">Error: Unable to retrieve outages.</h3>
				<div id="outages-landscape-container" ng-class="donutClass('outages')">
					<div id="outages-landscape" ng-click="modals.outages()"></div>
				</div>
			</div>
			<div class="alarms col col-50">
				<h3 ng-if="e.hasError('alarm-chart')" class="title error">Error: Unable to retrieve alarm data.</h3>
				<div id="alarms-landscape-container" ng-class="donutClass('alarms')">
					<div id="alarms-landscape" ui-sref="alarms" nav-direction="back"></div>
				</div>
			</div>
		</div>
		<div class="spacer"></div>
		<span ng-if="availability &amp;&amp; availability.length > 0" class="availability">
			<!--<div class="item item-divider header">
				Availability (Last 24 Hours)
			</div>-->
			<span ng-repeat="section in availability track by section.name">
				<div class="item item-compass item-divider row">
					<div class="col col-50">{{section.name}}</div>
					<div class="col col-25">Outages</div>
					<div class="col col-25">Availability</div>
				</div>
				<div ng-repeat="category in section.categories track by category.name" class="item row noright nobottom">
					<div class="col col-50" style="font-size: 90%">{{category.name}}</div>
					<div class="col col-25 pull-right" ng-class="'severity severity-' + category.outageClass.toUpperCase()">{{category.outageText}}</div>
					<div class="col col-25 pull-right monospace" ng-class="'severity severity-' + category.availabilityClass.toUpperCase()">{{category.availability | number:3}}%</div>
				</div>
			</span>
		</span>
	</ion-content>
	<ion-footer-bar class="bar-light">
		<button ng-class="'button button-clear pull-left ' + (errors.length === 0? 'button-compass':'button-assertive')" ng-click="modals.info()"><i ng-class="'icon ' + (errors.length === 0? 'ion-information-circled':'ion-alert-circled')"></i></button>
		<button class="button button-compass button-clear pull-right" ng-click="modals.settings()"><i class="icon ion-gear-a"></i></button>
	</ion-footer-bar>
</ion-view>
