<ion-modal-view class="errors">
	<ion-header-bar class="bar-light">
		<button class="button button-clear button-compass" ng-click="hide()">Close</button>
		<h1 class="title">About</h1>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item class="item-divider">About OpenNMS Compass</ion-item>
			<ion-item class="row">
				<div class="col col-25">Version:</div>
				<div class="col">{{settings.version()}}</div>
			</ion-item>
			<ion-item class="row">
				<div class="col col-25">Build:</div>
				<div class="col">{{settings.build()}}</div>
			</ion-item>
			<ion-item class="item-text-wrap row">
				<div class="col col-25">Server:</div>
				<div class="col">{{settings.URL()}}</div>
			</ion-item>
			<ion-item class="row">
				<div class="col col-25">User:</div>
				<div class="col">{{settings.username()}}</div>
			</ion-item>
			<span ng-if="errors &amp;&amp; errors.length &gt; 0">
				<ion-item class="item-divider item-assertive row">
					<div class="col col-50">Errors</div>
					<div class="col col-50 pull-right" ng-click="clear()">Clear</div>
				</ion-item>
				<ion-item ng-repeat="error in errors" class="row item-text-wrap">
					<span class="col col-25">{{formatType(error.type)}}</span>
					<span class="col col-75">{{getErrorMessage(error)}}</span>
				</ion-item>
			</span>
		</ion-list>
	</ion-content>
</ion-modal-view>
