<ion-view view-title="{{label}}" class="nodes">
	<ion-nav-bar class="bar-light" align-title="center">
		<ion-nav-back-button class="button-compass button-clear"></ion-nav-back-button>
	</ion-nav-bar>
	<!--
	<ion-header-bar class="bar-subheader item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search" ng-model="searchString">
		</label>
		<button class="button button-clear" ng-click="searchString = ''">Cancel</button>
	</ion-header-bar>
	-->
	<ion-content delegate-handle="node-resources-scroll">
		<ion-refresher pulling-text="Pull to Refresh..." on-refresh="refresh()"></ion-refresher>
		<ion-list>
			<span ng-repeat="resource in resources track by resource.id">
				<ion-item ng-if="resource.isDivider" class="item-divider item-compass">
					{{resource.id}}
				</ion-item>
				<ion-item ng-if="!resource.isDivider" class="item-text-wrap" ui-sref="node-resource({node:id, resource:resource.id})">
					{{resource.label}}
				</ion-item>
			</span>
		</ion-list>
	</ion-content>
</ion-view>