<div class="onms-graph">
	<div class="graph"></div>
	<div class="row picker" ng-if="shouldShowDates">
		<div class="col datepicker" style="text-align: left" ng-click="editDate('start')">
			Start: <span class="datetime">{{range.start | date : 'short' }} <i class="icon ion-clock"></i></span>
		</div>
		<div class="col datepicker" style="text-align: right" ng-click="editDate('end')">
			End: <span class="datetime">{{range.end | date : 'short' }} <i class="icon ion-clock"></i></span>
		</div>
	</div>
</div>
