# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.DS_Store
/index.html
.index.html
.vscode
*.swp
www.zip
www
generated/
!www/.htaccess
npm-debug.log*
node_modules/
platforms/
plugins/
temp
engine
build.json
build-properties.json
release-signing.properties
package-lock.json
platforms/android/ant.properties
