{
	"billingKey": "12345",
	"build": 1,
	"minSdk": 16,
	"storeFile": undefined,
	"keyAlias": undefined,
	"storePassword": undefined,
	"keyPassword": undefined,
	"analyticsIdIos": undefined,
	"analyticsIdAndroid": undefined,
	"analyticsIdOther": undefined,
	"admobIdIosBanner": undefined,
	"admobIdIosInterstitial": undefined,
	"admobIdAndroidBanner": undefined,
	"admobIdAndroidInterstitial": undefined,
	"admobIdOtherBanner": undefined,
	"admobIdOtherInterstitial": undefined,
	"ionicPublicKey": undefined,
}
