<ion-view view-title="{{node.label}}" class="node-resource">
	<ion-nav-bar class="bar-light" align-title="center">
		<ion-nav-back-button class="button-compass button-clear"></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content delegate-handle="node-resources-scroll" scroll="true" overflow-scroll="false">
		<ion-refresher pulling-text="Pull to Refresh..." on-refresh="refresh()"></ion-refresher>
		<ion-list>
			<ion-item class="item-text-wrap"><h3 class="title compass">{{resource.label? (resource.label + ' (1-Hour)'):''}}</h3></ion-item>
			<span ng-if="children &amp;&amp; children.length &gt; 0">
				<ion-item class="item-divider item-compass">
					Sub-Resources
				</ion-item>
				<span ng-repeat="resource in children track by resource.id">
					<ion-item ng-if="resource.isDivider" class="item-divider item-compass">
						{{resource.id}}
						divider
					</ion-item>
					<ion-item ng-if="!resource.isDivider" class="item-text-wrap" ui-sref="node-resource({node:id, resource:resource.id})">
						{{resource.label}}
						{{resource}}
					</ion-item>
				</span>
				<ion-item class="item-divider item-compass">
					Graphs
				</ion-item>
			</span>
			<span class="graphs" collection-repeat="graph in graphDefinitions track by graph.name" item-height="calculateHeight()" item-width="100%" id="graph-{{graph.name}}">
				<ion-item class="item item-icon-right item-divider item-compass" ng-click="toggleFavorite($event, graph)">
					{{graph.title}}
					<i ng-class="'icon ' + (isFavorite(graph.name)? 'ion-ios-star':'ion-ios-star-outline')"></i>
				</ion-item>
				<ion-item class="item item-accordion item-complex graph">
					<onms-graph graph-def="graph" resource-id="resource.id" range="range" display="display['graph-'+graph.name]" ng-attr-width="width" ng-attr-height="width"></onms-graph>
				</ion-item>
			</span>
		</ion-list>
	</ion-content>
</ion-view>