<div class="graphs item item-compass item-divider">Favorited Graphs</div>
<ion-slide-box on-slide-changed="refreshGraphSlide(index)" delegate-handle="graph-slide-box" show-pager="false">
	<ion-slide ng-repeat="favorite in favoriteGraphs track by favorite._id" class="graphs">
		<h4 class="label">{{favorite.nodeLabel}} <button class="button button-clear button-small button-compass" ng-click="unfavorite(favorite)"><i class="icon ion-ios-star"></i></button></h4>
			<onms-graph graph-def="graphs[favorite.graphName]" resource-id="favorite.resourceId" range="range" display="true" render="shouldRenderGraph($index)" show-dates="true"></onms-graph>
	</ion-slide>
</ion-slide-box>
<div class="spacer"></div>