<ion-modal-view class="outage-list">
	<ion-header-bar>
		<div class="buttons">
			<button class="button button-compass button-clear" ng-click="hide()">Close</button>
		</div>
		<h1 class="title">Nodes with Outages</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="Pull to Refresh..." on-refresh="refreshOutages()"></ion-refresher>
		<ion-list>
				<ion-item ng-if="error" class="item-text-wrap error">
					Error: Unable to retrieve outage summaries.
				</ion-item>
				<span ng-repeat="outage in outages track by outage.nodeId">
				<ion-item class="item-divider item-compass" ng-click="showNode(outage.nodeId)">
					<span class="item-note">{{outage.down.fromNow()}}</span>
					<h2>{{outage.getNodeName()}}</h2>
				</ion-item>
				<ion-item class="no-top no-bottom" ng-if="angular.isUndefined(outage.nodeOutages)">
					<ion-spinner></ion-spinner> Loading...
				</ion-item>
				<ion-item ng-repeat="nodeOutage in outage.nodeOutages track by nodeOutage.id" ng-class="'severity ' + nodeOutage.getSeverityClass()" class="no-top no-bottom" ng-click="showNode(outage.nodeId)" ng-click="showNode(outage.nodeId)">
					<span class="row">
						<div class="col" style="text-overflow: ellipsis; overflow: hidden">{{nodeOutage.ipAddress}}</div>
						<div class="col col-20 pull-right service-name">{{nodeOutage.monitoredService.serviceName}}</div>
						<div class="col col-10 pull-right"><i ng-class="'icon severity ' + nodeOutage.getSeverityClass() + ' ' + util.icon(nodeOutage.serviceLostEvent.severity)" title="{{nodeOutage.serviceLostEvent.severity}}"></i></div>
					</span>
				</ion-item>
			</span>
		</ion-list>
	</ion-content>
</ion-modal-view>
