.alarms {
	.item-complex .item-content, .item-radio .item-content {
		background-color: inherit;
	}

	.error {
		color: red;
	}

	.legend {
		&.row {
			padding: 0;
		}
		&.box {
			.col {
				padding: 10px;
				text-align: center;
			}
		}
		.icon {
			border: 0;
		}
	}
	.refresher {
		display: inline;
		z-index: $z-index-bar-above;
		position: fixed;
		top: $bar-height + $bar-subheader-height - 10;
		right: 8px;
		.spinner svg {
			width: 16px;
			height: 16px;
		}
	}
}