.alarm-detail {
	.item.item-divider {
		/* make sure his borders are higher than the rows */
		z-index: $z-index-view-above;
		/* background-color: $item-divider-bg; */
	}
	.item {
		background-color: transparent;
		p {
			color: $item-default-text;
		}
	}
	.row.item {
		border: 0;
	}
}
