.c3-area {
	stroke-width: 0;
	opacity: 0.85;
}

.c3-line {
	stroke-width: 2px;
}

.node-resource {
	h3.title {
		text-align: center;
		margin-top: 0;
		font-size: $font-size-base;
	}
	.icon.ion-arrow-down-b, .icon.ion-arrow-right-b {
		font-size: 20px !important;
	}
	.list {
		.graphs {
			.item {
				margin-top: 0;
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 0;
				border: 0;
			}
		}
		.item.graph {
			margin-left: 5px;
			margin-right: 5px;
		}
		.item.item-accordion {
			transition: 0.1s all linear;
		}
		.item.item-accordion.ng-hide {
			padding-top: 0;
			padding-bottom: 0;
			max-height: 0;
		}
	}
}
