.node-detail {
	.availability.severity {
		border-collapse: collapse;
		border-top: 1px solid #888;
		border-bottom: 1px solid #888;
	}
	.events.ion-loading-d {
		font-size: 20px;
	}
	.row {
		font-size: 90%;
	}
	.leaflet-map-pane, .leaflet-container {
		pointer-events:none;
	}
}
