.nodes {
	.error {
		color: red;
	}
	.node-display-id {
		font-size: smaller;
		display: block;
		padding-left: 20px;
	}
	.label {
		text-align: right;
		//right: 0;
	}
}

@media (orientation:landscape) {
	.nodes {
		.node-display-id {
			&:before {
				content: "(";
			}
			&:after {
				content: ")";
			}
			color: #888;
			display: inline-block;
			padding-left: 10px;
		}
	}	
}
