.onms-graph {
	>.graph {
		margin: 0px;
		min-height: 300px;
	}
	>.picker {
		margin: 0px;
		padding: 3px;
		font-size: $font-size-base * 0.9;
		.wide {
			font-size: $font-size-base * 2;
		}
		.datetime {
			border: 1px solid;
			padding: 5px;
			font-weight: bolder;
			font-size: smaller;
		}
	}
}

