<ion-modal-view class="settings" ng-controller="SettingsCtrl">
	<ion-content scroll="false">
		<ion-tabs class="tabs-compass tabs-icon-left" ng-keypress="handleKey($event)">
			<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" scroll="true" on-select="tabSelected('servers')">
				<ion-view class="servers">
					<ion-header-bar class="bar-light">
						<div class="buttons">
							<button class="button button-compass button-clear" ng-click="hide()">Close</button>
						</div>
						<h1 class="title">Settings</h1>
						<div class="buttons">
							<button class="button button-compass button-clear" ng-click="addServer()" ng-if="!hideAddButton">Add</button>
						</div>
					</ion-header-bar>
					<ion-content scroll="true">
						<ion-list show-delete="showDelete" show-reorder="false" can-swipe="true" delegate-handle="settings-list">
							<ion-item class="item item-divider">Servers</ion-item>
							<ion-item ng-repeat="server in servers track by server.name" class="item item-icon-left item-icon-right compass" ng-click="selectServer(server)">
								<i ng-class="'icon ' + (isDefaultServer(server)? 'ion-checkmark':'')"></i>
								<h2>{{server.name}}</h2>
								<p>{{server.url}}</p>
								<i class="icon onms-grabber" style="right:-5"></i>
								<ion-option-button class="button-compass" ng-click="editServer(server)">
									<!-- <i class="icon ion-edit"></i> -->
									Edit
								</ion-option-button>
								<ion-option-button class="button-assertive" ng-click="deleteServer(server)">
									<!-- <i class="icon ion-trash-a"></i> -->
									Delete
								</ion-option-button>
							</ion-item>
							<ion-item class="item item-divider">General</ion-item>
							<ion-item class="item item-text-wrap about-analytics">
								<p>Compass collects anonymized data about how you use the app:</p>
								<ul>
									<li>the OpenNMS version you are connecting to</li>
									<li>whether it is OpenNMS Horizon or Meridian</li>
									<li>your Compass version and build</li>
									<li>which parts of Compass (dashboard, alarms, outages, graphs) you use most</li>
								</ul>
								<p>You may opt out by enabling this switch.</p>
							</ion-item>
							<ion-item class="item item-text-wrap item-toggle">
								Analytics Opt Out
								<label class="toggle toggle-compass">
									<input type="checkbox" ng-model="analyticsCheckbox.enabled">
									<div class="track">
										<div class="handle"></div>
									</div>
								</label>
							</ion-item>
						</ion-list>
					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="About" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" on-select="tabSelected('about')">
				<ion-view class="errors">
					<ion-header-bar class="bar-light">
						<div class="buttons">
							<button class="button button-compass button-clear" ng-click="hide()">Close</button>
						</div>
						<h1 class="title">About Compass</h1>
					</ion-header-bar>
					<ion-content scroll="true">
						<ion-list>
							<ion-item class="item-text-wrap">
								<div class="row">
									<div class="col col-25">Version:</div>
									<div class="col">{{version}}</div>
								</div>
								<div class="row">
									<div class="col col-25">Build:</div>
									<div class="col">{{build}}</div>
								</div>
								<div class="row">
									<div class="col col-25">Server:</div>
									<div class="col" ng-click="util.openServer()">{{defaultServer.name}}</div>
								</div>
								<div class="row">
									<div class="col col-25">Host:</div>
									<div class="col" ng-click="util.openServer()">{{defaultServer.getHost()}}</div>
								</div>
								<div class="row">
									<div class="col col-25">User:</div>
									<div class="col">{{username}}</div>
								</div>
							</ion-item>
							<span ng-if="defaultServer">
								<ion-item class="item-divider item-compass">
									OpenNMS Server Information
								</ion-item>
								<ion-item>
									<div class="row">
										<div class="col col-25">Type:</div>
										<div class="col">{{info.packageDescription}}</div>
									</div>
									<div class="row">
										<div class="col col-25">Version:</div>
										<div class="col">{{info.version === '0.0.0'? 'Unknown':info.version}}</div>
									</div>
								</ion-item>
								<ion-item class="item-text-wrap item-icon-left" ng-if="info.version === '0.0.0'">
									<i class="icon ion-alert-circled"></i>
									Your OpenNMS does not support reporting server version information.
								</ion-item>
								<ion-item class="item-text-wrap item-icon-left" ng-if="hasAvailability">
									<i class="icon ion-checkmark-circled severity severity-NORMAL"></i>
									Your OpenNMS server supports displaying category availability.
								</ion-item>
								<ion-item class="item-text-wrap item-icon-left" ng-if="!hasAvailability">
									<i class="icon ion-alert-circled severity severity-WARNING"></i>
									Your OpenNMS server does not support displaying category availability. Dashboard availability by category requires Meridian 2015 or Horizon 15.0.2.
								</ion-item>
								<ion-item class="item-text-wrap item-icon-left" ng-if="capabilities.setLocation">
									<i class="icon ion-checkmark-circled severity severity-NORMAL"></i>
									Your OpenNMS server supports updating node geolocation information.
								</ion-item>
								<ion-item class="item-text-wrap item-icon-left" ng-if="!capabilities.setLocation">
									<i class="icon ion-alert-circled severity severity-WARNING"></i>
									Your OpenNMS server does not support updating node geolocation information.  Updating node coordinates requires Meridian 2015 or Horizon 15.0.2.
								</ion-item>
								<ion-item class="item-text-wrap item-icon-left" ng-if="capabilities.graphs">
									<i class="icon ion-checkmark-circled severity severity-NORMAL"></i>
									Your OpenNMS server supports the measurements API used for graphing.
								</ion-item>
								<ion-item class="item-text-wrap item-icon-left" ng-if="!capabilities.graphs">
									<i class="icon ion-alert-circled severity severity-WARNING"></i>
									Your device or OpenNMS server does not support graphing.  The measurements API used for graphing requires Meridian 2016 or Horizon 16 or later.  Additionally, Compass only supports graphing on devices with 1GB of memory or higher.
								</ion-item>
								<ion-item class="item-text-wrap item-icon-left" ng-if="capabilities.ackAlarms">
									<i class="icon ion-checkmark-circled severity severity-NORMAL"></i>
									Your OpenNMS server supports acknowledging, escalating, and clearing alarms.
								</ion-item>
								<ion-item class="item-text-wrap item-icon-left" ng-if="!capabilities.ackAlarms">
									<i class="icon ion-alert-circled severity severity-WARNING"></i>
									Your OpenNMS server does not support acknowledging, escalating, or clearing alarms through the Compass app.  The Ack API requires Meridian 2015 or Horizon 14.
								</ion-item>
							</span>
							<span ng-if="getErrors().length &gt; 0">
								<ion-item class="item-divider item-assertive row">
									<div class="col col-50">Errors</div>
									<div class="col col-50 pull-right" ng-click="clearErrors()">Clear</div>
								</ion-item>
								<ion-item ng-repeat="error in getErrors()" class="row item-text-wrap">
									<dl>
										<dt>{{formatType(error.type)}}</dt>
										<dd>{{getErrorMessage(error)}}</dd>
									</dl>
								</ion-item>
							</span>
						</ion-list>
					</ion-content>
				</ion-view>
			</ion-tab>
		</ion-tabs>
	</ion-content>
</ion-modal-view>
