<ion-modal-view class="settings" ng-controller="SettingsCtrl">
	<ion-header-bar class="bar-light">
		<div class="buttons">
			<button class="button button-compass button-clear" ng-click="hide()">Close</button>
		</div>
		<h1 class="title">Settings</h1>
		<div class="buttons">
			<button class="button button-compass button-clear" ng-click="addServer()" ng-if="!hideAddButton">Add</button>
		</div>
	</ion-header-bar>
	<ion-content scroll="false">
		<ion-tabs class="tabs-compass tabs-icon-left" ng-keypress="handleKey($event)">
			<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" scroll="true" on-select="hideAddButton = false" on-deselect="hideAddButton = true">
				<ion-view class="servers">
					<ion-content scroll="true">
						<ion-list show-delete="showDelete" show-reorder="false" can-swipe="true" delegate-handle="server-list">
							<ion-item class="item item-divider">Servers</ion-item>
							<ion-item ng-repeat="server in servers track by server.name" class="item item-icon-left item-icon-right compass" ng-click="selectServer(server)">
								<i ng-class="'icon ' + (isDefaultServer(server)? 'ion-checkmark':'')"></i>
								<h2>{{server.name}}</h2>
								<p>{{server.url}}</p>
								<i class="icon onms-grabber" style="right:-5"></i>
								<ion-option-button class="button-compass" ng-click="editServer(server)">
									<!-- <i class="icon ion-edit"></i> -->
									Edit
								</ion-option-button>
								<ion-option-button class="button-assertive" ng-click="deleteServer(server)">
									<!-- <i class="icon ion-trash-a"></i> -->
									Delete
								</ion-option-button>
							</ion-item>
						</ion-list>
					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="About" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
				<ion-view class="errors">
					<ion-content scroll="true">
						<ion-list>
							<ion-item class="item-divider item-compass">About OpenNMS Compass</ion-item>
							<ion-item class="item-text-wrap">
								<div class="row">
									<div class="col col-25">Version:</div>
									<div class="col">{{version}}</div>
								</div>
								<div class="row">
									<div class="col col-25">Build:</div>
									<div class="col">{{build}}</div>
								</div>
								<div class="row">
									<div class="col col-25">Server:</div>
									<div class="col" ng-click="util.openServer()">{{serverURL}}</div>
								</div>
								<div class="row">
									<div class="col col-25">User:</div>
									<div class="col">{{username}}</div>
								</div>
							</ion-item>
							<span ng-if="serverName !== undefined">
								<ion-item class="item-divider item-compass">
									OpenNMS Server Information
								</ion-item>
								<ion-item>
									<div class="row">
										<div class="col col-25">Type:</div>
										<div class="col">{{info.packageDescription}}</div>
									</div>
									<div class="row">
										<div class="col col-25">Version:</div>
										<div class="col">{{info.version === '0.0.0'? 'Unknown':info.version}}</div>
									</div>
								</ion-item>
								<ion-item class="item-text-wrap severity-WARNING" ng-if="info.version === '0.0.0'">Your OpenNMS does not support reporting server version information.</ion-item>
								<ion-item class="item-text-wrap" ng-if="hasAvailability">Your OpenNMS server supports the Availability API.</ion-item>
								<ion-item class="item-text-wrap severity-WARNING" ng-if="!hasAvailability">Your OpenNMS server does not support the Availability API. Dashboard availability by category requires Meridian 2015 or Horizon 15.0.2.</ion-item>
								<ion-item class="item-text-wrap" ng-if="canSetLocation">Your OpenNMS server
								supports updating node geolocation information.</ion-item>
								<ion-item class="item-text-wrap severity-WARNING" ng-if="!canSetLocation">Your OpenNMS server
								does not support updating node geolocation information.  Updating node coordinates
								requires Meridian 2015 or Horizon 15.0.2.</ion-item>
							</span>
							<span ng-if="errors &amp;&amp; errors.length &gt; 0">
								<ion-item class="item-divider item-assertive row">
									<div class="col col-50">Errors</div>
									<div class="col col-50 pull-right" ng-click="clearErrors()">Clear</div>
								</ion-item>
								<ion-item ng-repeat="error in errors" class="row item-text-wrap">
									<span class="col col-25">{{formatType(error.type)}}</span>
									<span class="col col-75">{{getErrorMessage(error)}}</span>
								</ion-item>
							</span>
						</ion-list>
					</ion-content>
				</ion-view>
			</ion-tab>
		</ion-tabs>
	</ion-content>
</ion-modal-view>
